%h4 reference img
%img{:src => @reference_img}
%div{:style => "font-size: 9px"}
  = @reference_img

%hr{:style => "border: 1px solid red"}
.set{:style => "margin-top: 10px"}
- @imgs.each do |img|
  %div{:style => "float:left"}
    %div{:style => ""}
      - comparer = ImageCompare.new(@reference_img, img)
      - d = comparer.difference
      - diff = d.map{|i| i.to_f.to_s}.join(",")
      - if d[1] < 0.02
        - style = "font-size:12px;color:green"
        - text = "TRUE(#{diff})"
      - else
        - style = "font-size:12px;color:red"
        - text = "FALSE(#{diff})"
      
      Matches reference?: 
      %br
      %span{:style => style} #{text}
    %div{:style => "width: 150px;"}
      %img{:src => img, :style => "border: 1px solid red;margin: 5px"}
    %div{:style => "font-size: 9px"}
      = img
