!!!
%html{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %title
      Flakebook
  = stylesheet_link_tag    "reset", "application" 
  = javascript_include_tag "application" 
  = csrf_meta_tags 

  %body
    #header
      = render :partial => "shared/login"

    #main
      = yield 

